
@{
    ViewBag.Title = "Index";
}
<button id="addBtn" type="button" class="btn btn-info">Add book</button>
<div style="width:90%; margin:0 auto" class="tablecontainer">
    <table id="myDatatable">
        <thead>
            <tr>
                <th>Title</th>
                <th>Pages</th>
                <th>DateOfPublication</th>
                <th>Rating</th>
                <th>Authors</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
@*  *@
<div id="bookModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" data-bind="value:Title"></h4>
            </div>
            <div class="modal-body">
                <form id="book_form" novalidate="novalidate">
                    <input type="hidden" name="bookId"  data-bind="value:Id">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-4"><label for="title">Title:</label></div>
                            <div class="col-md-8">
                                <input id="title" name="title" class=" form-control" data-bind="value:Title" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4"><label for="pages">Pages:</label></div>
                            <div class="col-md-8">
                                <input id="pages" name="pages" class=" form-control" data-bind="value:Pages" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4"><label for="dateOfPublication">Date of publication:</label></div>
                            <div class="col-md-8">
                                <input id="dateOfPublication" data-provide="datepicker" name="dateOfPublication" class="datepicker form-control" data-bind="value:DateOfPublication" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4"><label for="rating">Rating:</label></div>
                            <div class="col-md-8">
                                <input id="rating" name="rating" class=" form-control" data-bind="value:Rating" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4"><label for="authors">Authors:</label></div>
                            <div class="col-md-8">
                                <input id="authors" name="authors" class=" form-control" data-bind="value:AuthorIds" required />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button id="save_btn" type="button" class="btn btn-success" data-dismiss="modal">Submit</button>
            </div>
        </div>

    </div>
</div>
<script>
    $(document).ready(function() {
        MainJS.Initialize('@Url.Action("GetBooks", "Book")', '@Url.Action("Create", "Book")');
   });
</script>