
@{
    ViewBag.Title = "Index";
}

<div style="width:90%; margin:0 auto" class="tablecontainer">
    <a class="popup btn btn-primary" href="/book/Create" style="margin-bottom:20px; margin-top:20px;">Add Book</a>
    <table id="myDatatable">
        <thead>
            <tr>
                <th>Title</th>
                <th>Pages</th>
                <th>DateOfPublication</th>
                <th>Rating</th>
                <th>Authors</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>